nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin: 0 10px 0;
}
nav li:hover{
    background-color: lightgrey;
}
nav a {
    text-decoration: none;
    color: #000;
    padding: 12px;
}


/* Dropdown */
nav .dropdown{
    position: absolute;
    display: none;
    padding-left: 0;
    background-color: lightgoldenrodyellow;
}

nav li:hover .dropdown{
    display: block;
}